.text-invalid { 
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #fd5c70;
}

.btn-primary {
    background-color: #0062a3 !important;
    border-color: #0062a3 !important;
}